body {
    background-color: #e9ebf0;
}


.header h1 {
    display: inline-block;
    margin: 0px 20% 25px 40%;
    font-size: 50px;
    text-decoration: underline;
}

.body h3 {
    display: inline-block;
    text-align: center;
}
.center {
    margin: 0px 20% 0px 20%;
}
button {
    height: 200px;
    width: 200px;
}
.left {
    width: 33%;
    text-align: center;
    vertical-align: top;
    height: 700px;
    display: inline-block;
}
.left button {
    margin-top: 10px;
}
.middle {
    width: 33%;
    text-align: center;
    height: 700px;
    vertical-align: top;
    display: inline-block;
}
.middle button {
    margin-top: 10px;
}
.right {
    width: 33%;
    text-align: center;
    height: 700px;
    vertical-align: top;
    display: inline-block;
}
.right button {
    margin-top: 10px;
}
.points {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
