<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trivia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- <script src="test.js"></script> -->
    {% load static %}
    <script src="{% static 'GameApp/js/test.js' %}"></script>
    <!-- {% static 'GameApp/js/test.js' %} -->
    <!-- {% static 'GameApp/css/style.css' %} -->
    <link rel="stylesheet" href="{% static 'GameApp/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><span class="text-warning">T</span><span class="text-danger">r</span><span class="text-success">i</span><span class="text-primary">v</span><span class="text-warning">i</span><span class="text-danger">a</span> <span class="text-success">N</span><span class="text-primary">i</span><span class="text-warning">g</span><span class="text-danger">h</span><span class="text-success">t</span></h1>
            <div class="points"></div>
        </div>
        <div class="body">
            <div class="left">
                <h4>Computer Science</h4>
                <button id="left1" class="btn btn-primary">100</button>
                <button id="left2" class="btn btn-primary">200</button>
                <button id="left3" class="btn btn-primary">300</button>
            </div>
            <div class="middle">
                <h4>General Knowledge</h4>
                <button id="mid1" class="btn btn-primary">100</button>
                <button id="mid2" class="btn btn-primary">200</button>
                <button id="mid3" class="btn btn-primary">300</button>
            </div>
            <div class="right">
                <h4>History</h4>
                <button id='right1' class="btn btn-primary">100</button>
                <button id="right2" class="btn btn-primary">200</button>
                <button id="right3" class="btn btn-primary">300</button>
            </div>
        </div>
    </div>
</body>
</html>